/**
 *
 * This stylesheet defines all the CSS Box Model related styling.
 *  (sizes, margins, padding, display styles, etc.)
 *
 * Author: Ben Clark - Mar. 2018
 *
 **/


body {
	background: #e5e5e5;
}

div#content {
	display: block;
	position: relative;
	float: none;
	width: 90%;
	margin: 0 5% 0 5%;
}
