/**
 *
 * This stylesheet controls all the one-off styles defining the site's
 *  header up top.
 *
 * Author: Ben Clark - Apr. 2018
 *
 **/

div#header-container {
	display: block;
	position: relative;
	float: none;
	width: 100%;
	margin: 40px 0 0 0;
	padding: 0;
	overflow: hidden;
	background: #000000;
	z-index: 2;
}

div#header-image-container {
	display: block;
	position: absolute;
	float: right;
	width: 100%;
	height: 700px;
	overflow: hidden;
	z-index: 0;
}

img#header-image {
   display: block;
   position: absolute;
   width: 100%;
   object-fit: fill;
   z-index: -1;
   opacity: 0.6;
}

div#header-image-fade {
	display: block;
	position: absolute;
	width: 100%;
	height: 700px;
	overflow: hidden;
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
	z-index: 2;
}

div#header-title-text-container {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 700px;
	overflow: hidden;
	z-index: 3;
}

span#header-title-text {
	position: absolute;
	margin: 50px 0 0 10%;
	font-family: 'Oxygen', 'Helvetica', sans-serif;
	font-size: 8em;
	font-weight: 900;
	color: #E3DC07;
	text-shadow: 1px 3px 0px #3883BA,
							 2px 3px 0px #3883BA,
							 3px 1px 0px #3883BA,
							 3px 2px 0px #3883BA,
							 3px 3px 0px #3883BA,
							 -1px -3px 0px #3883BA,
						 	 -2px -3px 0px #3883BA,
						 	 -3px -1px 0px #3883BA,
						 	 -3px -2px 0px #3883BA,
						 	 -3px -3px 0px #3883BA,
							 1px -3px 0px #3883BA,
						 	 2px -3px 0px #3883BA,
						 	 3px -1px 0px #3883BA,
						 	 3px -2px 0px #3883BA,
						 	 3px -3px 0px #3883BA,
							 -1px 3px 0px #3883BA,
						 	 -2px 3px 0px #3883BA,
						 	 -3px 1px 0px #3883BA,
						 	 -3px 2px 0px #3883BA,
						 	 -3px 3px 0px #3883BA;
	white-space: nowrap;
}

span#header-title-sub-text {
	position: absolute;
	margin: 250px 0 0 30%;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-size: 2em;
	font-weight: 100;
	color: #3883BA;
	white-space: nowrap;
}

div#header-bottom-bar {
	display: block;
	position: relative;
	clear: both;
	width: 100%;
}
