/**
 *
 * This stylesheet controls all the one-off styles defining the site's
 *  header up top.
 *
 * Author: Ben Clark - Apr. 2018
 *
 **/

div#header {
	display: block;
	position: relative;
	float: none;
	width: 100%;
	margin: 60px 0 0 0;
	padding: 5px;
	border-radius: 5px;
}

img#header-image {
	display: block;
	position: relative;
	float: none;
	width: 100%;
}

div#header-container {
	display: block;
	position: relative;
	float: none;
	width: 100%;
	margin: 40px 0 0 0;
	padding: 0;
	background: #000000;
}

div#header-image-container {
	display: block;
	position: absolute;
	float: right;
	width: 100%;
	height: 500px;
	overflow: visible;
	background-image: url("./../resources/banner-1-min.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: repeat;
	opacity: 0.7;
}

div#header-title-text-container {
	display: block;
	position: relative;
	float: left;
	width: 50%;
	height: 500px;
	overflow: visible;
}

span#header-title-text {
	position: absolute;
	margin: 50px 0 0 20%;
	font-family: 'Oxygen', 'Helvetica', sans-serif;
	font-size: 8em;
	font-weight: 900;
	color: #E3DC07;
	text-shadow: 1px 3px 0px #3883BA,
							 2px 3px 0px #3883BA,
							 3px 1px 0px #3883BA,
							 3px 2px 0px #3883BA,
							 3px 3px 0px #3883BA,
							 -1px -3px 0px #3883BA,
						 	 -2px -3px 0px #3883BA,
						 	 -3px -1px 0px #3883BA,
						 	 -3px -2px 0px #3883BA,
						 	 -3px -3px 0px #3883BA,
							 1px -3px 0px #3883BA,
						 	 2px -3px 0px #3883BA,
						 	 3px -1px 0px #3883BA,
						 	 3px -2px 0px #3883BA,
						 	 3px -3px 0px #3883BA,
							 -1px 3px 0px #3883BA,
						 	 -2px 3px 0px #3883BA,
						 	 -3px 1px 0px #3883BA,
						 	 -3px 2px 0px #3883BA,
						 	 -3px 3px 0px #3883BA;
	white-space: nowrap;
}

span#header-title-sub-text {
	position: absolute;
	margin: 250px 0 0 30%;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-size: 2em;
	font-weight: 100;
	color: #3883BA;
	white-space: nowrap;
}

div#header-bottom-bar {
	display: block;
	position: relative;
	float: none;
	clear: both;
	width: 100%;
}
