/**
 *
 * This stylesheet defines all the text styling for the UBC Aviary
 *  public website.
 *
 * Author: Ben Clark - Mar. 2018
 *
 **/


body {
	font-size: 12pt;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}

h2 {
	font-size: 2em;
	font-family: 'Oxygen', sans-serif;
	font-weight: 900;
	color: #000000;
	border-bottom: thin solid #b5b5b5;
}

p {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	color: #555555;
	font-weight: 300;
}
